In [1]:
import pandas as pd
import requests
from utils import get_ucitele_katedry
from dotenv import load_dotenv
import os
from requests import Session
from io import StringIO

load_dotenv()

True

In [19]:
import pandas as pd
import numpy as np


# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, np.nan, 4],
                   'B': [5, np.nan, 7, 8],
                   'C': [9, 10, 11, 12]})

# Replace missing values in column 'A' with the sum of columns 'B' and 'C'
df['A'] = df['A'].fillna(df['B'] * df['C'])

# Print the DataFrame to verify the result
print(df)

      A    B   C
0   1.0  5.0   9
1   2.0  NaN  10
2  77.0  7.0  11
3   4.0  8.0  12

In [8]:
import datetime
from dateutil.relativedelta import relativedelta

sample = datetime.date(2023, 9, 30)

first = sample + relativedelta(day=1)

first

datetime.date(2023, 9, 1)

In [14]:
cookie = "d953fb434c32e107ff44c883e012f7bfbb395aca56cb8ec9c0e571fb07cfcb67"

ucitel_url = "https://ws.ujep.cz/ws/services/rest2/ucitel/getUcitelInfo"

vars = {"ucitIdno" : 3521, "outputFormat": "CSV", "outputFormatEncoding": "utf-8", "lang" : "cs"}

ucitel = requests.get(
    ucitel_url,
    cookies={"WSCOOKIE": cookie},
    params=vars
)

ucit_data = ucitel.text
ucit_df = pd.read_csv(StringIO(ucit_data), sep=";")
ucit_df

,ucitIdno,jmeno,prijmeni,titulPred,titulZa,platnost,zamestnanec,katedra,pracovisteDalsi,email,telefon,telefon2,url
0,3521,Zbyšek,Posel,RNDr.,Ph.D.,A,A,KI,NaN,Zbysek.Posel@ujep.cz,475286717,NaN,NaN

In [2]:
dict = {1 : "ok"}

dict.pop(2, None)
print(dict)

{1: 'ok'}

In [9]:
from datetime import datetime, timedelta

# create two datetime objects
dt1 = datetime(2023, 5, 1, 14, 0) # 2:00 PM
dt2 = datetime(2023, 5, 1, 12, 0) # 12:00 PM

# calculate the difference between the two datetime objects
delta = dt1 - dt2

# extract the number of hours from the timedelta object
hours = delta.total_seconds() / 3600

print(hours) # output: 2.0
print(dt1)

2.0
2023-05-01 14:00:00

In [10]:
data_url = "https://stag-demo.zcu.cz/ws/services/rest2/ucitel/getUciteleKatedry"

vars = {
    "lang" : "cs",
    "outputFormat" : "CSV",
    "katedra" : "KI",
    "jenAktualni" : True,
    "outputFormatEncoding":"utf-8"
}

df = get_ucitele_katedry("jbozdech", "demo", os.getenv("APP_URL"), data_url, vars, column="ucitIdno")

df

Series([], Name: ucitIdno, dtype: object)

In [15]:
# with Session() as s:
#     s.auth = ("jbozdech", "demo")
#     webove_sluzby_page = s.get(os.getenv("APP_URL"))
#     print(webove_sluzby_page.headers.get("stagUserTicket"))
#     # response = s.get(data_url, headers={}, params=vars)
#     # # print(response.text)
#     # data = response.text
#     # df = pd.read_csv(StringIO(data), sep = ";")

response = requests.get(os.getenv("APP_URL"))

print(response.cookies)

<RequestsCookieJar[]>